@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 100%, 100%);
    --color-grey-500: hsl(0, 0%, 63%);
    --color-grey-600: hsl(0, 0%, 27%);
}

body {
    background: #000;
    font-family: 'League Spartan', sans-serif;
}